# Parametros aplicación
aplicacion.titulo = Juego de la Vida

# Cuentas predeterminadas
usuario.admin = Admin
usuario.invitado = Guest
usuario.passwordPredeterminada = Miau#0
usuario.EdadMinima = 16
 